{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="margin-left:25px; margin-top:15px;">
    <p>sId: {{ bin.sId }}</p>
    <p>Bin Number: {{ bin.bin_num }}</p>
    <p>Category: {{ bin.category }}</p>
</div>

<div style="margin-left:25px;">
    <a href="/config/configlist/bin/edit/{{b.id}}">Edit this bin</a>
</div>
    {% comment %}{% for b in bin.bin_num %}
        <p>{{ b.bin_num }}</p>
        {% for c in category %}
            {{ c.category }}
        {% endfor %}
    {% endfor %}
    <p></p>{% endcomment %}
{% endblock %}