{% extends 'base.html' %}
{% load staticfiles %}

<style>
    table, th, tr, td {
        border:1px solid black;
    }
</style>

{% block content %}

<p>
    <h1>Bin configuration for {{ can.can_id }}</h1>
    Config: {{ can.config }}<br>
</p>

<table style="border:2px solid black;">
    <tr style="border:2px solid black;">
        <th style="border:2px solid black;">Bin Number</th>
        <th style="border:2px solid black;">Category</th>
    </tr>
    {% for b in bins %}
    <tr style="border:2px solid black;">
        <td style="border:2px solid black;">{{ b.bin_num }}</td>
        <td style="border:2px solid black;">{{ b.category }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}