{% extends 'base.html' %}
{% load staticfiles %}

{% comment %}<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>{% endcomment %}
{% block content %}
<h1>Placeholder categorization page</h1>

{% if error_message %}
    <h2>{{ error_message }}</h2>
{% endif %}

{% if votes %}
    <h2>This item currently has the following votes:</h2>
    <table>
        <tr><th>Category</th><th># of Votes</th></tr>
        {% for category, count in votes.items %}
            <tr><td>{{ category }}</td> <td>{{ count }}</td>
        {% empty %}
            <tr><td>N/A</td><td>N/A</td></tr>
        {% endfor %}
    </table>
{% endif %}

<h2>This page is for categorizing {{ disposable_name }}</h2>

<p>
{% if form %}
    <form  action="{% url 'VoteHandler:vote' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endif %}
</p>
<br>
    <div class="your-class">
        {% csrf_token %}
        <div>
            <input type="image" src="{% static 'img/Landfill.jpg' %}" onclick="imageVote('Landfill')" alt="Submit" width="460" height="345" name="category" id="Landfill">
        </div>
        <div>
            <input type="image" src="{% static 'img/PlasticPLA.jpg'%}" onclick="imageVote('Plastic PLA')" alt="Submit" width="460" height="345" name="category" id="Plastic PLA">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic7.jpg'%}" onclick="imageVote('Plastic #7')" alt="Submit" width="460" height="345" name="category" id="Plastic PLA">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic6.jpg'%}" onclick="imageVote('Plastic #6')" alt="Submit" width="460" height="345" name="category" id="Plastic #6">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic5.jpg'%}" onclick="imageVote('Plastic #5')" alt="Submit" width="460" height="345" name="category" id="Plastic #5">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic4.jpg'%}" onclick="imageVote('Plastic #4')" alt="Submit" width="460" height="345" name="category" id="Plastic #4">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic3.jpg'%}" onclick="imageVote('Plastic #3')" alt="Submit" width="460" height="345" name="category" id="Plastic #3">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic2.jpg'%}" onclick="imageVote('Plastic #2')" alt="Submit" width="460" height="345" name="category" id="Plastic #2">
        </div>
        <div>
            <input type="image" src="{% static 'img/Plastic1.jpg'%}" onclick="imageVote('Plastic #1')" alt="Submit" width="460" height="345" name="category" id="Plastic #1">
        </div>
        <div>
            <input type="image" src="{% static 'img/Electronics.jpg'%}" onclick="imageVote('Electronic')" alt="Submit" width="460" height="345" name="category" id="Electronic">
        </div>
        <div>
            <input type="image" src="{% static 'img/Ceramic.jpg'%}" onclick="imageVote('Ceramic')" alt="Submit" width="460" height="345" name="category" id="Ceramic">
        </div>
        <div>
            <input type="image" src="{% static 'img/Chemical.jpg'%}" onclick="imageVote('Chemical')" alt="Submit" width="460" height="345" name="category" id="Chemical">
        </div>
        <div>
            <input type="image" src="{% static 'img/Glass.jpg'%}" onclick="imageVote('Glass')" alt="Submit" width="460" height="345" name="category" id="Glass">
        </div>
        <div>
            <input type="image" src="{% static 'img/Metal.jpg'%}" onclick="imageVote('Metal')" alt="Submit" width="460" height="345" name="category" id="Metal">
        </div>
        <div>
            <input type="image" src="{% static 'img/OrganicCompost.jpg'%}" onclick="imageVote('Organic')" alt="Submit" width="460" height="345" name="category" id="Organic">
        </div>
        <div>
            <input type="image" src="{% static 'img/Paper.jpg'%}" onclick="imageVote('Paper')" alt="Submit" width="460" height="345" name="category" id="Paper">
        </div>
        <div>
            <input type="image" src="{% static 'img/Textile.jpg'%}" onclick="imageVote('Textile')" alt="Submit" width="460" height="345" name="category" id="Textile">
        </div>
        <div>
            <input type="image" src="{% static 'img/Unknown.jpg'%}" onclick="imageVote('Unknown')" alt="Submit" width="460" height="345" name="category" id="Unknown">
        </div>
        <div>
            <input type="image" src="{% static 'img/Wood.jpg'%}" onclick="imageVote('Wood')" alt="Submit" width="460" height="345" name="category" id="Wood">
        </div>
    </div>

    
{% comment %}    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
{% endcomment %}
    
    <script type="text/javascript">
        $(document).ready(function(){
        $('.your-class').slick({
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 3,
        });
        });

        // Time-outs
        window.onload = function(){
            setInterval(function(){
                window.location.href= '/api/';
            }, 10000);

        };


        // If an image is clicked on
        function imageVote (category) {
            var item = "{{ disposable_name }}";
            var json_data = {
                disp_item: item,
                vote: category,
            };

            $.ajax({
                type: "POST",
                url: "/api/vote/carousel",
                data: json_data,
                //dataType: 'json',
                error: function(err){
                    console.log(err);
                },
                success: function(res){
                    //console.log("Success!");
                    alert("Vote added! Redirecting...");
                    window.location.href= '/api/';
                }
            });
        }

    </script>
    {% endblock %}