{% extends 'base.html' %}
{% load staticfiles %}

{% comment %}<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>{% endcomment %}
{% block content %}
<h1>Placeholder categorization page</h1>

{% if error_message %}
    <h2>{{ error_message }}</h2>
{% endif %}

{% if votes %}
    <h2>This item currently has the following votes:</h2>
    <table>
        <tr><th>Category</th><th># of Votes</th></tr>
        {% for category, count in votes.items %}
            <tr><td>{{ category }}</td> <td>{{ count }}</td>
        {% empty %}
            <tr><td>N/A</td><td>N/A</td></tr>
        {% endfor %}
    </table>
{% endif %}

<h2>This page is for categorizing {{ disposable_name }}</h2>

{% if form %}
    <form  action="{% url 'VoteHandler:vote' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endif %}


<form action="{% url 'VoteHandler:carousel_vote' %" method="POST">
    {% csrf_token %}
    <div class="your-class">
        <div>
            {% comment %}<a href="/api/vote/Landfill">
            <img src="{% static 'img/Landfill.jpg'%}" alt="Landfill" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Landfill.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/PlasticPLA">
            <img src="{% static 'img/PlasticPLA.jpg'%}" alt="Plastic PLA" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/PlasticPLA.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic6">
            <img src="{% static 'img/Plastic6.jpg'%}" alt="Plastic 6" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic6.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic5">
            <img src="{% static 'img/Plastic5.jpg'%}" alt="Plastic 5" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic5.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic4">
            <img src="{% static 'img/Plastic4.jpg'%}" alt="Plastic 4" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic4.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic3">
            <img src="{% static 'img/Plastic3.jpg'%}" alt="Plastic 3" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic3.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic2">
            <img src="{% static 'img/Plastic2.jpg'%}" alt="Plastic 2" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic2.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Plastic1">
            <img src="{% static 'img/Plastic1.jpg'%}" alt="Plastic 1" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Plastic1.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Electronics">
            <img src="{% static 'img/Electronics.jpg'%}" alt="Electronics" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Electronics.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Ceramic">
            <img src="{% static 'img/Ceramic.jpg'%}" alt="Ceramic" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Ceramic.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Chemical">
            <img src="{% static 'img/Chemical.jpg'%}" alt="Chemical" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Chemical.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Glass">
            <img src="{% static 'img/Glass.jpg'%}" alt="Glass" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Glass.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Metal">
            <img src="{% static 'img/Metal.jpg'%}" alt="Metal" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Metal.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/OrganicCompost">
            <img src="{% static 'img/OrganicCompost.jpg'%}" alt="Organic Compost" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/OrganicCompost.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Paper">
            <img src="{% static 'img/Paper.jpg'%}" alt="Paper" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Paper.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Textile">
            <img src="{% static 'img/Textile.jpg'%}" alt="Textile" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Textile.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Unknown">
            <img src="{% static 'img/Unknown.jpg'%}" alt="Unknown" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Unknown.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
        <div>
            {% comment %}<a href="/api/vote/Wood">
            <img src="{% static 'img/Wood.jpg'%}" alt="Wood" width="460" height="345">{% endcomment %}
            <input type="image" src="{% static 'img/Wood.jpg'%}" alt="Landfill" width="460" height="345" value="Landfill">
        </div>
    </div>
</form>
    
{% comment %}    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
{% endcomment %}
    
    <script type="text/javascript">
        $(document).ready(function(){
        $('.your-class').slick({
            arrows: true,
            slidesToShow: 6,
            slidesToScroll: 6,
        });
        });

         window.onload = function(){
            setInterval(function(){
                window.location.href= '/api/';
            }, 10000);
         };
    </script>
    {% endblock %}