{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<head>
  <link rel="stylesheet" href="{% static "css/home.css" %}">
</head>

<h1>Welcome to Smart Can!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="labnol" action="{% url 'VoteHandler:dispose' %}" method="POST">
    {% csrf_token %}
    <label>Enter the item you wish to dispose of:</label>
    <input type="text" name="disposable_item" id="dispose_input" required>
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    <input type="submit" id="dispose_submit" value="Enter">
</form>

<h4>Or enter your desired bin number here: </h4>
<br>


<form action="{% url 'VoteHandler:manual_rotate' %}" id="bin-btns-form" method="POST">
  {% csrf_token %}
  <table class="bin-table">
    <tr>
      {% for bin_num, categories in bin_num_to_cats.items %}
        <td>
          <button type="button" class="btn btn-default bin-btn" onclick="rotate_bin('{{bin_num}}')" name="'{{bin_num}}'" value="'{{bin_num}}'">
            <h3 style="color:black;">Bin {{ bin_num }}</h3>
            {% for category in categories %}
              {{ category }} <br>
            {% endfor %}
          </button>
        </td>
      {% endfor %}
    </tr>
  </table>
</form>


<div style="padding-top:10px;">
  <div class="your-class">
    <h3>Confused where to start? <br>Let us help you.</h3>
    <h3>Recycling is inconvenient, <br>but it's important to <br>protect our planet.</h3>
    <h3>Let's work together to <br>take care of our planet.</h3>
    <h3>Proper disposal is tough, <br>but we can help you with it!</h3>
    <h3>Recycling is tough, but so <br>is finding a new planet.</h3>
  </div>
</div>


{% comment %} Speech recognition from Google
Borrowed and adapted from the original code at https://www.labnol.org/software/add-speech-recognition-to-website/19989/
{% endcomment %}
<script>
    function startDictation() {
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
        var recognition = new webkitSpeechRecognition();
  
        recognition.continuous = false;
        recognition.interimResults = false;
  
        recognition.lang = "en-US";
        recognition.start();
  
        recognition.onresult = function(e) {
          document.getElementById('dispose_input').value = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };
  
        recognition.onerror = function(e) {
          recognition.stop();
        };
      }
    }

    $(document).ready(function() {
      $('.your-class').slick({
          arrows: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          arrows: false
      });
    });

    /* POSTS the requested bin number back to the back-end, located at manual_rotate */
    function rotate_bin(bin_number) {
      var csrftoken = "{% csrf_token %}";

      var csrfmidtoken = jQuery("[name=csrfmiddlewaretoken]").val();

      json_data = {
        bin: bin_number,
        csrf:csrftoken,
        csrfmiddlewaretoken: csrfmidtoken,
      };

      $.ajax({
        type: 'POST',
        url: '/api/manual_rotate/',
        data: json_data,
        error: function(err) {
          console.log(err);
        },
        success: function(res) {
          console.log('success');
        }
      });
    }
  </script>

{% endblock %}