{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<h1>Welcome to SmartCan!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'VoteHandler:dispose' %}" method="POST">
    {% csrf_token %}
    <label>Enter the item you wish to dispose of:</label>
    <input type="text" name="disposable_item" id="dispose_input" required>
    <input type="submit" id="dispose_submit" value="Enter">
</form>

    <p><h4>Or enter your desired bin number here: </h4></p> 

  <table style="float:left;  border-left-width:25px">
  <tr>
      {% for b in bins %}
      <td>
        <div class="Bin_selection" style="background: #f0f0f0; width: 10vw; height: 10vw; float: left;">
          <a href="#" >
            <h3 style="color:black;">Bin {{ b.bin_num }}</h3>
          </a>{% comment %}TODO: New endpoint to dispose by bin, endpoint fires off request thru websocket{% endcomment %}
        </div>
      </td>
    {% endfor %}
  </tr>
  </table>
  </div>
</div>
{% endblock %}