{% extends 'base.html' %}
{% load staticfiles %}

<!-- CSS Styles -->
<style>
    .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
    .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
    .speech img {float: right; width: 40px }
  </style>

{% block content %}

<h1>Welcome to SmartCan!</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="labnol" action="{% url 'VoteHandler:dispose' %}" method="POST">
    {% csrf_token %}
    <label>Enter the item you wish to dispose of:</label>
    <input type="text" name="disposable_item" id="dispose_input" required>
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    <input type="submit" id="dispose_submit" value="Enter">
</form>

    <p><h4>Or enter your desired bin number here: </h4></p>
    <br>

<br>
<p>
<div id="manual_rotate_form">
<br>
<form action="{% url 'VoteHandler:manual_rotate' %}" method="POST">
    {% csrf_token %}
    <table style="float:left;  border-left-width:25px">
      <tr>
          {% for b in bins %}
          <td>
            <button type="button" class="btn btn-default" onclick="rotate_bin('{{b.bin_num}}')" name="'{{b.bin_num}}'" value="'{{b.bin_num}}'" style="margin-right:35px;">
              <h3 style="color:black;">Bin {{ b.bin_num }}</h3>
            </button>{% comment %}TODO: New endpoint to dispose by bin, endpoint fires off request thru websocket{% endcomment %}
          </td>
        {% endfor %}
      </tr>
    </table>
  </form>
</div>
</p>

<div style="padding-top:100px;"
<p>
<div class="your-class">
  <div>
    Confused where to start? Let us help you.
  </div>
  <div>
    Recycling is inconvenient, but <br>it's important to protect our planet.
  </div>
  <div>
    Let's work together to take care of our planet.
  </div>
  <div>
    Proper disposal is tough, but we can help you with it!
  </div>
  <div>
    Recycling is tough, but so is finding a new planet.
  </div>
</div>
</p>
</div>


{% comment %} Speech recognition from Google
Borrowed and adapted from the original code at https://www.labnol.org/software/add-speech-recognition-to-website/19989/
{% endcomment %}
<script>
    function startDictation() {
  
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
  
        var recognition = new webkitSpeechRecognition();
  
        recognition.continuous = false;
        recognition.interimResults = false;
  
        recognition.lang = "en-US";
        recognition.start();
  
        recognition.onresult = function(e) {
          document.getElementById('dispose_input').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
          //document.getElementById('labnol');
        };
  
        recognition.onerror = function(e) {
          recognition.stop();
        }
  
      }
    }

    $(document).ready(function(){
      $('.your-class').slick({
          arrows: true,
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          arrows: false
    });
    });

    /* POSTS the requested bin number back to the back-end, located at manual_rotate */
    function rotate_bin(bin_number){
      var csrftoken = "{% csrf_token %}";

      var csrfmidtoken = jQuery("[name=csrfmiddlewaretoken]").val();

      console.log(bin_number);
      json_data = {
        bin: bin_number,
        csrf:csrftoken,
        csrfmiddlewaretoken: csrfmidtoken,
      };

      $.ajax({
        type: 'POST',
        url: '/api/manual_rotate/',
        data: json_data,
        error: function(err){
          console.log(err);
        },
        success: function(res) {
          console.log('success');
        }

      });
    }
  </script>

{% endblock %}